
.Button {
  border: 1px solid var(--light-grey);
  background-color: var(--yellow);
  color: var(--dark) !important;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
}

.Button:hover {
  cursor: pointer;
  color: var(--white) !important;
  background-color: var(--orange);
}
