form > button {
  margin-top: 10px;
}

.Label {
  margin-bottom: 4px;
  display: block;
  color: var(--dark-grey);
}

.Input,
.Textarea {
  border: 1px solid var(--light);
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  width: 100%;
  border-radius: 4px;
}

.Input::placeholder,
.Textarea::placeholder {
  color: var(--light-grey);
}

.Textarea {
  resize: vertical;
}

.Required {
  color: var(--red);
  font-family: Arial;
  font-weight: bold;
}
