
.Language__title {
  margin: 0 0px 20px;
}

.Language__title h2 {
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: var(--pale-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Language__total-score {
  font-size: 14px;
  color: var(--light-blue);
  font-weight: normal;
}

.Language__title p {
  margin: 20px 10px;
}

.Language__practice-button {
  margin: 10px 0;
  float: right;
}

.Language__word-list {
  margin: 0 10px 0;
}

.Language__word-list h3 {
  margin-bottom: 20px;
  color: var(--dark-grey);
}

.Language__word-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Language__word {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--pale-grey);
  padding: 5px 0 8px;
}

.Language__word-translation {
  flex: 3;
  color: var(--light-blue);
}

.Language__word-counts {
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  text-align: right;
}

.Language__word-counts p {
  margin: 0;
}

.Language__word-correct-count {
  color: var(--green);
  opacity: 0.9;
}

.Language__word-incorrect-count {
  color: var(--red);
  opacity: 0.9;
}
