:root {
  --width: 500px;
}

.Layout__header,
.Layout__section {
  max-width: var(--width);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.Layout__section--wider {
  padding-left: 10px;
  padding-right: 10px;
}

.Layout__full-width {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--pale-grey);
  padding-left: calc((100% - var(--width)) / 2 + 20px);
  padding-right: calc((100% - var(--width)) / 2 + 20px);
}

.Layout__full-width:last-of-type {
  margin-bottom: 20px;
}

.Layout__full-width--darker {
  background-color: var(--light);
}

.Layout__full-width--darker * {
  color: var(--dark-grey);
}
