
.DisplayCounts {
  margin-top: 40px;
  background-color: var(--pale-grey);
  padding: 10px;
  text-align: center;
  width: 100%;
}

.DisplayCounts p {
  margin: 0;
  color: var(--dark-grey);
  padding: 2px;
}

.DisplayCounts span {
  font-weight: bold;
}

.DisplayCounts .correct span {
  color: var(--green);
}

.DisplayCounts .incorrect span {
  color: var(--red);
}
