.DisplayWord {
  text-align: center;
  padding: 20px;
}

.DisplayWord h2 {
  color: var(--dark);
}

.DisplayWord__word {
  display: block;
  margin-top: 8px;
  font-size: 20pt;
  font-weight: bold;
  color: var(--red) !important;
}
