.Header {
  display: flex;
  flex-direction: column-reverse;
}

.Header__title {
  margin: 20px 0 10px;
}

.Header__title a {
  color: var(--orange);
  text-decoration: none;
}

.Header nav {
  text-align: right;
}

.Header__logged-in {
  display: flex;
  justify-content: space-between;
}

.Header__user-name {
  color: var(--dark-green);
}
