.Header {
  display: flex;
  flex-direction: column-reverse;
}

.Header__title {
  margin: 20px 0 10px;
  height: 1em;
}

.Header__title a {
  color: var(--orange);
  text-decoration: none;
}

.Header nav {
  text-align: right;
  height: var(--font-size);
}

.Header__logged-in {
  display: flex;
  justify-content: space-between;
  height: var(--font-size);
}

.Header__user-name {
  color: var(--grey);
}
