
.DisplayFeedback {
  text-align: center;
}

.DisplayFeedback p {
  line-height: 30px;
}

.DisplayFeedback__word,
.DisplayFeedback__answer,
.DisplayFeedback__guess {
  color: var(--white);
  padding: 2px 5px;
  border-radius: 4px;
  font-weight: bold;
}

.DisplayFeedback__word {
  background: var(--light-blue);
}

.DisplayFeedback__answer {
  background: var(--orange);
}

.DisplayFeedback__correct .DisplayFeedback__guess {
  background: var(--green);
}

.DisplayFeedback__false .DisplayFeedback__guess {
  background: var(--red);
}

.DisplayFeedback__win,
.DisplayFeedback__lose {
  font-weight: bold;
  font-size: 1.2em;
}

.DisplayFeedback__win {
  color: var(--green);
}

.DisplayFeedback__lose {
  color: var(--red);
}

.DisplayFeedback__next-word-button {
  margin-top: 20px;
}
